
.tela-agendar {
  width: 200vh;
  height: 110vh;
  background: rgba(250,235,215,1);
  opacity: 1;
  position: relative;
  top: -1vh;
  left: -1vh;
  overflow-x: scroll; 
}
.background-tela-agendar {
  width: 200vh;
  height: 90vh;
  background: url("../images/v159_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 15vh;
  left: 0vh;
}
.background-logo-tela-agendar {
  width: 200vh;
  height: 15vh;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  top: 0vh;
  left: 0vh;
}
.servicos {
  width: 10vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.5vh;
  left: 93.7vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.estetica {
  width: 40vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 1vh;
  left: 2vh;
  text-shadow: 0vh 0.4vh 0.6vh rgba(0, 0, 0, 0.25);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 6.5vh;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.estetica1 {
  width: 18vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 7.2vh;
  left: 9vh;
  text-shadow: 0vh 0.3vh 0.4vh rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 2vh;
  opacity: 1;
  text-align: justified;
  text-decoration: none;
}
.inicio {
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 63vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.precos {
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 72vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.agendar {
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 81.6vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh  ;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.figura-tela-agendar {
  width: 45vh;
  height: 70vh;
  background: url("../images/v152_4674.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30vh;
  left: 0vh;
  overflow: hidden;
}
.tela-agendar-meio {
position: absolute;
left: 40vh;
top: 40vh;
width: 130vh;
height: 50vh;
background: rgba(242,230,232,1);
opacity: 1;
position: relative;
border: 0vh solid rgba(150,150,150,1);
border-top-left-radius: 3vh;
border-top-right-radius: 3vh;
border-bottom-left-radius: 3vh;
border-bottom-right-radius: 3vh;
overflow: hidden;
box-shadow: 3vh 3vh 1vh #40387980;
}
.tela-agendar-meio-frase {
  position: absolute;
  width: 50vh;
  height: 0vh;
  left: 78vh;
  top: 47vh;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vh;
  line-height: 4vh;
  text-align: center;
  text-shadow: 1vh 1vh 2vh #40387980;
  color: #FFFFFF;
}

.zap {
  width: 17vh;
  height: 17vh;
  background: url("../images/v340_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64vh;
  left: 130vh;
  overflow: hidden;
  box-shadow: 1vh 1vh 1vh #40387980;
  border-radius: 10vh;
}
.insta{
  width: 17vh;
  height: 17vh;
  background: url("../images/v341_19.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64vh;
  left: 100vh;
  overflow: hidden;
  box-shadow: 1vh 1vh 1vh #40387980;
  border-radius: 10vh;
}
.face{
  width: 17vh;
  height: 17vh;
  background: url("../images/v351_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64vh;
  left: 70vh;
  overflow: hidden;
  box-shadow: 1vh 1vh 1vb #40387980;
  border-radius: 10vh;
}

.frase {
  position: absolute;
  height: 8vh;
  width: 90vh;
  left: 57vh;
  top: 47vh;   
  background: #BB6BD9;
  border-radius: 2vh;
  box-shadow: 1vh 1vh 2vh #40387980;
}
.barra {
  width: 10.8vh;
  height: 0vh;
  background: url("../images/v154_4675.png");
  opacity: 1;
  position: absolute;
  top: 9vh;
  left: 81.5vh;
  border: 0.3vh solid rgba(0,0,0,1);
  cursor: pointer;
}
