body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.inicio-tela-inicial {
  position: relative;
  height: 100vh;
}

.background-tela-inicial {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/v159_155.png');
  background-size: cover;
  background-position: center;
}

.mulher-tela-inicial {
  position: absolute;
  left: 150px;
  width: 500px;
  height: 100%;
  background: url("../images/v1_85.png");
  background-size: cover;
  background-position: center;
}

.primeira-frase1-tela-inicial {
  margin-bottom: 1rem;
  color: rgba(101,64,0,1);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 50px;
  position: absolute;
  top: 440px;
  left: 830px;
}
.segunda-frase1-tela-inicial {
  color: rgba(136,38,60,1);
  position: absolute;
  top: 380px;
  left: 980px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 46px;
  text-align: center;
}
.frase2-tela-icial {
  position: absolute;
  bottom: 380px;
  left: 980px;
  text-align: center;
  width: 490px;
  height: 48px;
  background: rgba(189,125,125,1);
  border-radius: 100px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(101,64,0,1);

}
.primeira-frase2 {
  display: inline-block;
  font-size: 15px;
  color: rgba(101,64,0,1);
  font-family: Poppins;
  font-size: 30px;
  font-weight: Italic;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.logo1-tela-inicial{
  position: absolute;
  bottom: 100px;
  left: 1100px;
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 50px;
  color: rgba(64,46,50,1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
}
.logo2-tela-inicial {
  position: absolute;
  bottom: 60px;
  left: 1140px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 25px;
  color: rgba(64,46,50,1);
  text-align: justified;
  cursor: pointer;
}

.inicio,
.precos,
.agendar,
.servicos {
  display: inline;
  position: relative;
  top: 40px;
  left: 1000px;
  font-size: 25px;
  color: rgba(64,46,50,1);
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

 
.barra {
  width: 70px;
  opacity: 1;
  position: absolute;
  top: 75px;
  left: 995px;
  border: 2px solid rgba(0,0,0,1);
  cursor: pointer;
}

.animacao {
  animation-name: exemplo;
  animation-duration: 1s;
  }
  
  @keyframes exemplo {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
  }
  
  @media screen and (max-width: 768px) {
    .mulher-tela-inicial {
      width: 50vh;
      left: 25vh;
    }
    .frase1-tela-inicial {
      font-size: 1.5rem;
    }
    .segunda-frase1-tela-inicial {
      font-size: 1.2rem;
    }
    .frase2-tela-inicial {
      width: 60vh;
      height: 2rem;
    }
    .primeira-frase2 {
      font-size: 1rem;
    }
    .logo1-tela-inicial {
      font-size: 2rem;
    }
    .logo2-tela-inicial {
      font-size: 1rem;
    }
    .face, .insta, .zap {
      width: 5vh;
      height: 10vh;
      top: 2vh;
      right: 2vh;
    }
  }