body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.inicio-tela-inicial {
  position: relative;
  height: 100vh;
}

.background-tela-inicial {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../images/v159_155.png');
  background-size: cover;
  background-position: center;
}

.mulher-tela-inicial {
  position: absolute;
  left: 15vh;
  width: 50vh;
  height: 100vh;
  background: url("../images/v1_85.png");
  background-size: cover;
  background-position: center;
}

.primeira-frase1-tela-inicial {
  margin-bottom: 1rem;
  color: rgba(101,64,0,1);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 5vh;
  position: absolute;
  top: 47vh;
  left: 88vh;
}
.segunda-frase1-tela-inicial {
  color: rgba(136,38,60,1);
  position: absolute;
  top: 40vh;
  left: 102vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 5vh;
  text-align: center;
}
.frase2-tela-icial {
  position: absolute;
  bottom: 40vh;
  left: 130vh;
  transform: translate(-50%, 0);
  text-align: center;
  width: 30rem;
  height: 3rem;
  background: rgba(189,125,125,1);
  border-radius: 10rem;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
  border: 2px solid rgba(101,64,0,1);

}
.primeira-frase2 {
  display: inline-block;
  font-size: 1.5rem;
  color: rgba(101,64,0,1);
  font-family: Poppins;
  font-size: 3vh;
  font-weight: Italic;
  text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.logo1-tela-inicial{
  position: absolute;
  bottom: 10vh;
  left: 115vh;
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 3rem;
  color: rgba(64,46,50,1);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  cursor: pointer;
}
.logo2-tela-inicial {
  position: absolute;
  bottom: 6vh;
  left: 120vh;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 1.5rem;
  color: rgba(64,46,50,1);
  text-align: justified;
  cursor: pointer;
}

.inicio,
.precos,
.agendar,
.servicos {
  display: inline;
  position: relative;
  top: 4vh;
  left: 105vh;
  font-size: 1.5rem;
  color: rgba(64,46,50,1);
  font-family: Poppins;
  font-weight: bold;
  text-align: center;
  margin-right: 2rem;
  cursor: pointer;
}

.selecionado {
  font-weight: bold;
  border-bottom: 3px solid rgba(189,125,125,1);
}

.barra {
  width: 4%;
  position: fixed;
  top: 7.5%;
  left: 55%;
  border: 2px solid rgba(64,46,50,1);
  cursor: pointer;
}


  @media screen and (max-width: 100vh) {


    .inicio-tela-inicial {
      position: relative;
      height: 100vh;
    }
    
    .background-tela-inicial {
      position: absolute;
      width: 100%;
      height: 100%;
    }
    
    .mulher-tela-inicial {
      position: absolute;
      left: 0%;
      bottom: 0%;
      width: 40%;
      height: 50%;
    }
    
    .primeira-frase1-tela-inicial {
      margin-bottom: 1%;
      color: rgba(101,64,0,1);
      font-family: Dancing Script;
      font-weight: Bold;
      font-size: 200%;
      position: absolute;
      top: 35%;
      left: 25%;
    }
    .segunda-frase1-tela-inicial {
      color: rgba(136,38,60,1);
      position: absolute;
      top: 31%;
      left: 39%;
      font-family: Poppins;
      font-weight: Italic;
      font-size: 140%;
      text-align: center;
    }
    .frase2-tela-icial {
      position: absolute;
      bottom: 56%;
      left: 53%;
      text-align: center;
      width: 50%;
      height: 3.5%;
      background: rgba(189,125,125,1);
      border-radius: 100px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
      border: 2px solid rgba(101,64,0,1);
    
    }
    .primeira-frase2 {
      display: inline-block;
      color: rgba(101,64,0,1);
      font-family: Poppins;
      font-size: 200%;
      font-weight: Italic;
      text-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    }
    
    .logo1-tela-inicial{
      position: absolute;
      bottom: 10%;
      left: 46%;
      font-family: Dancing Script;
      font-weight: Bold;
      font-size: 200%;
      color: rgba(64,46,50,1);
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      text-align: center;
      cursor: pointer;
    }
    .logo2-tela-inicial {
      position: absolute;
      bottom: 8%;
      left: 49%;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      font-family: Poppins;
      font-weight: SemiBold;
      font-size: 100%;
      color: rgba(64,46,50,1);
      text-align: justified;
      cursor: pointer;
    }
    
    .inicio,
    .precos,
    .agendar,
    .servicos {
      display: inline;
      position: relative;
      top: 4%;
      left: 25%;
      font-size: 200%;
      color: rgba(64,46,50,1);
      font-family: Poppins;
      font-weight: bold;
      text-align: center;
      margin-right: 2rem;
      cursor: pointer;
    }
      
    .barra {
      width: 9%;
      position: fixed;
      top: 7%;
      left: 24.5%;
      border: 2px solid rgba(64,46,50,1);
      cursor: pointer;
    }
  }