
.inicio-tela-preco {
  width: 100%;
  height: 1372px;
  background: url("../images/v160_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
  overflow-x: scroll; 
}
.background-tela-preco {
  width: 100%;
  height: 2000px;
  background: url("../images/v159_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 145px;
  left: 0px;
  overflow: hidden;
}
.background-logo-tela-preco {
  width: 100%;
  height: 145px;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.servicos {
  width: 100px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 53px;
  left: 911px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.logo1-tela-preco {
  width: 418px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 22px;
  left: 47px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 64px;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}
.logo2-tela-preco {
  width: 334px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 92px;
  left: 120px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: justified;
  text-decoration: none;
}
.inicio {
  width: 63px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 53px;
  left: 615px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.precos {
  width: 81px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 53px;
  left: 699px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.barra {
  width: 90px;
  height: 0px;
  background: url("../images/v154_4675.png");
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 691px;
  border: 2px solid rgba(0,0,0,1);
  cursor: pointer;
}
.agendar {
  width: 105px;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 53px;
  left: 793px;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 24px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.face {
  width: 32px;
  height: 32px;
  background: url("../images/v351_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1378px;
  overflow: hidden;
}
.zap {
  width: 32px;
  height: 32px;
  background: url("../images/v351_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1260px;
  overflow: hidden;
}
.insta {
  width: 32px;
  height: 32px;
  background: url("../images/v351_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 1320px;
  overflow: hidden;
}
.figura-tela-preco {
  width: 392px;
  height: 581px;
  background: url("../images/v154_4676.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 785px;
  left: 0px;
  overflow: hidden;
}
.tabela-precos {
  width: 937px;
  height: 467px;
  background: rgba(242,230,232,1);
  opacity: 1;
  position: absolute;
  top: 441px;
  left: 271px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  overflow: hidden;
}
.tabela2-microblanding {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 704px;
  left: 625px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela2-microagulhamento {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 729px;
  left: 628px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela2-pele-de-vidro {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 754px;
  left: 628px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela1-agendar-agora {
  width: 207px;
  height: 45px;
  background: rgba(34,28,78,1);
  opacity: 0.5;
  position: absolute;
  top: 823px;
  left: 339px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.tabela2-agendar-agora {
  width: 207px;
  height: 45px;
  background: rgba(34,28,78,1);
  opacity: 0.5;
  position: absolute;
  top: 823px;
  left: 605px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.tabela3-agendar-agora {
  width: 232px;
  height: 44px;
  background: rgba(187,107,217,1);
  opacity: 1;
  position: absolute;
  top: 824px;
  left: 908px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  overflow: hidden;
}
.tabela1-nome-agendar-agora {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 834px;
  left: 382px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.tabela2-nome-agendar-agora {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 834px;
  left: 648px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.tabela2-valor {
  width: 159px;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 481px;
  left: 605px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.tabela2-frase-direita-valor {
  width: 158px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 481px;
  left: 702px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.tabela2-sinal3 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 605px;
  overflow: hidden;
}
.tabela1-valor {
  width: 107px;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 481px;
  left: 317px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.tabela1-frase-direita-valor {
  width: 103px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 491px;
  left: 409px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.tabela2-frase1 {
  width: 272px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 616px;
  left: 605px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela2-frase2 {
  width: 242px;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 532px;
  left: 605px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.tabela1-frase1 {
  width: 211px;
  color: rgba(34,28,78,1);
  position: absolute;
  top: 528px;
  left: 321px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.tabela1-frase2 {
  width: 175px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 650px;
  left: 321px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela1-pele-de-vidro {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 758px;
  left: 359px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela1-microblanding {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 708px;
  left: 356px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela1-microagulhamento {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 733px;
  left: 357px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela1-sinal3 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 758px;
  left: 336px;
  overflow: hidden;
}
.tabela1-sinal2 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_50.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 336px;
  overflow: hidden;
}
.tabela2-sinal2 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 732px;
  left: 605px;
  overflow: hidden;
}
.tabela2-sinal1 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 705px;
  left: 605px;
  overflow: hidden;
}
.tabela1-sinal1 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 712px;
  left: 336px;
  overflow: hidden;
}
.tabela3 {
  width: 304px;
  height: 562px;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  top: 409px;
  left: 871px;
  border: 1px solid rgba(151,151,151,1);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  border-bottom-left-radius: 26px;
  border-bottom-right-radius: 26px;
  box-shadow: 0px 42px 34px rgba(0.32156863808631897, 0.26274511218070984, 0.7607843279838562, 0.30000001192092896);
  overflow: hidden;
}
.tabela3-mais-popular {
  width: 121px;
  height: 27px;
  background: rgba(63,56,121,1);
  opacity: 1;
  position: absolute;
  top: 435px;
  left: 1024px;
  border: 0px solid rgba(150,150,150,1);
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  overflow: hidden;
}
.tabela3-mais-popular-frase {
  width: 78px;
  color: rgba(187,107,217,1);
  position: absolute;
  top: 441px;
  left: 1046px;
  font-family: Poppins;
  font-weight: ExtraBold;
  font-size: 10px;
  opacity: 1;
  text-align: center;
}
.tabela3-valor {
  width: 129px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 477px;
  left: 912px;
  font-family: Poppins;
  font-weight: Bold;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.tabela3-frase-direita-valor {
  width: 155px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 486px;
  left: 1020px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 17px;
  opacity: 1;
  text-align: left;
}
.tabela3-frase1 {
  width: 244px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 534px;
  left: 908px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.tabela3-frase2 {
  width: 232px;
  color: rgba(132,129,153,1);
  position: absolute;
  top: 657px;
  left: 908px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}

.tabela3-nome-agendar-agora {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 834px;
  left: 969px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
  cursor: pointer;
}
.tabela3-microblanding {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 713px;
  left: 928px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela3-microagulhamento {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 738px;
  left: 931px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela3-pele-de-vidro {
  width: 165px;
  color: rgba(131,128,153,1);
  position: absolute;
  top: 763px;
  left: 931px;
  font-family: Poppins;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.tabela3-sinal3 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 767px;
  left: 908px;
  overflow: hidden;
}
.tabela3-sinal2 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_74.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 741px;
  left: 908px;
  overflow: hidden;
}
.tabela3-sinal1 {
  width: 20px;
  height: 20px;
  background: url("../images/v351_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 714px;
  left: 908px;
  overflow: hidden;
}