body {
  margin: 0;
  padding: 0;
  
}
.background-logo-tela-servicos {
  width: 198vh;
  height: 15vh;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  background-position: center;
  top: -1vh;
  left: -1vh;
}
.tela-servicos {
  width: 198vh;
  height: 200vh;
  opacity: 1;
  position: absolute;
  top: -1vh;
  left: -1vh;
  overflow: hidden;
  overflow-x: scroll; 
}
.tela-servicos-imagem {
  width: 198vh;
  height: 200vh;
  background: url("../images/v3_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: -1vh;
  left: -1vh;
  overflow: hidden;
}
.tela-servicos-mensagem2 {
  width: 150vh;
  height: 200vh;
  background: url("../images/v3_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80vh;
  left: 0vh;
  overflow: hidden;
}
.tela-servicos-mensagem2-microblanding   {
  width: 100vh;
  height: 50vh;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  top: 0vh;
  left: 45vh;
  border-top-left-radius: 20vh;
  border-top-right-radius: 20vh;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 20vh;
  overflow: hidden;
}
.tela-servicos-mensagem2-microblanding-palavra {
  width: 100vh;
  color: rgba(101,64,0,1);
  position: absolute;
  top: 5vh;
  left: 60vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 5vh;
  opacity: 1;
  text-align: left;
}

.tela-servicos-mensagem2-microblanding-frase {
  width: 110vh;
  height: 17.5vh;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 17vh;
  left: 22vh;
  border-radius: 20vh;
  overflow: hidden;
}
.tela-servicos-mensagem2-microagulhamento {
  width: 195vh;
  height: 50vh;
  background: url("../images/v4_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65vh;
  left: 2vh;
  overflow: hidden;
} 
.tela-servicos-mensagem2-microagulhamento-balao {
  width: 90vh;
  height: 50vh;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: absolute;
  top: 0vh;
  left: 0vh;
  border-top-left-radius: 20vh;
  border-top-right-radius: 20vh;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 20vh;
  overflow: hidden;
}
.tela-servicos-mensagem2-microagulhamento-palavra {
  width: 0vh;
  color: rgba(101,64,0,1);
  position: absolute;
  top: 5vh;
  left: 23vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 5vh;
  opacity: 1;
  text-align: left;
}
.tela-servicos-mensagem2-microagulhamento-frase {
  width: 115vh;
  height: 15vh;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 20vh;
  left: 18vh;
  border-radius: 20vh;
  overflow: hidden;
}
.balao3 {
  width: 90vh;
  color: black;
  position: absolute;
  top: 21.5vh;
  left: 30vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
}
.balao2 {
  width: 90vh;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 18vh;
  left: 31.5vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
}
.tela-servicos-mensagem-pele-de-vidro {
  width: 150vh;
  height: 50vh;
  background: url("../images/v3_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20vh;
  left: 2vh;
  overflow: hidden;
}
.tela-servicos-mensagem-pele-de-vidro-balao {
  width: 90vh;
  height: 50vh;
  background: rgba(214,173,96,1);
  opacity: 1;
  position: relative;
  top: 0vh;
  left: 0vh;
  border-top-left-radius: 20vh;
  border-top-right-radius: 20vh;
  border-bottom-left-radius: 20vh;
  border-bottom-right-radius: 20vh;
  overflow: hidden;
}
.tela-servicos-mensagem-pele-de-vidro-balao-palavra {
  width: 100vh;
  color: rgba(101,64,0,1);
  position: absolute;
  top: 5vh;
  left: 12vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 5vh;
  opacity: 1;
  text-align: left;
}

.barra {
  width: 8.5vh;
  height: 0vh;
  background: url("../images/v154_4675.png");
  opacity: 1;
  position: absolute;
  top: 9vh;
  left: 94.5vh;
  border: 0.3vh solid rgba(0,0,0,1);
  cursor: pointer;
}
.tela-servicos-mensagem-pele-de-vidro-frase {
  width: 110vh;
  height: 18vh;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 19vh;
  left: 20vh;
  border-radius: 20vh;
  overflow: hidden;
}
.balao1 {
  width: 90vh;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 20.5vh;
  left: 28vh;
  font-family: Inter;
  font-weight: Bold;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
}
.servicos {
  width: 10vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.5vh;
  left: 93.7vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.logo-tela-servicos {
  width: 50vh;
  height: 10vh;
  background: url("../images/v122_1669.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1vh;
  left: 5vh;
  overflow: hidden;
}
.estetica {
  width: 10vh;
  color: rgba(64,46,50,1);
  position: relative;
  top: 1vh;
  left: 2vh;
  text-shadow: 0vh 0.4vh 0.6vh rgba(0, 0, 0, 0.25);
  font-family: Dancing Script;
  font-weight: Bold;
  font-size: 6.5vh;
  opacity: 1;
  text-align: center;
  text-decoration: none;
}

.estetica1 {
  width: 18vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 7.2vh;
  left: 9vh;
  text-shadow: 0vh 0.3vh 0.4vh rgba(0, 0, 0, 0.25);
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 2vh;
  opacity: 1;
  text-align: justified;
  text-decoration: none;
}
.inicio {
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 63vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.precos { 
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 72vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh;
  opacity: 1;
  text-align: center;
  cursor: pointer
}
.agendar {
  width: 8vh;
  color: rgba(64,46,50,1);
  position: absolute;
  top: 5.4vh;
  left: 81.6vh;
  font-family: Poppins;
  font-weight: Italic;
  font-size: 2.5vh  ;
  opacity: 1;
  text-align: center;
  cursor: pointer
}